@font-face {
  font-family: 'Quantico';
  src: url('../../fonts/Quantico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('../../fonts/Quantico-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.credits-container {
  flex: 1;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.unifesp-logo {
  max-width: 163px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.credits-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credits-col h3 {
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 0.5rem 0;
}

.credits-col p {
  font-family: 'Quantico', sans-serif;
  font-weight: normal;
  margin: 0 0 1rem 0;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .credits-col h3 {
    font-size: 20px;
  }
  
  .credits-col p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .credits-col h3 {
    font-size: 20px;
  }
  
  .credits-col p {
    font-size: 16px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .credits-container {
    padding: 0.5rem;
  }
  
  .unifesp-logo {
    max-width: 70px;
  }
  
  .credits-col h3 {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
  }
  
  .credits-col p {
    font-size: 10px;
    margin: 0 0 0.5rem 0;
  }
  
  .credits-col-row {
    margin-bottom: 0.5rem;
  }
}
