.credits-container {
  flex: 1;
  display: flex;
  padding: 1rem;
  /* align-items: center; */
  justify-content: center;
  /* background-color: red; */
}

.credits-content {
  position: relative;  /* isso é importante */
  flex: 1;
  display: flex;
  width: 900px;
  height: 900px;
  /* background-color: orange; */
  padding-top: 1rem;
}

.credits-white {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  background-color: white;
  border-radius: 3rem;
}

.credits-brow {
  flex: 1;
  display: flex;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #66525B;
}

.credits-yellow {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: #F6BE1E;
}

.credits-orange{
  flex: 1;
  display: flex;
  border-radius: 2rem;
  background-color: #EA8903;
  padding: 1rem;
}
.credits-header {
  position: absolute;
  top: 0;
  left: 50%;             /* começa no meio da largura do pai */
  width: 400px;
  height: 80px;           /* largura fixa */
  padding: 0.5rem 1rem;
  background-color: #66525B; /* marrom do seu .credits-brow */
  color: white;
  border-radius: 0.5rem 0.5rem 1.5rem 1.5rem; /* arredonda só na base, porque tá no topo */
  transform: translateX(-50%);  /* desloca para a esquerda metade da largura (100px/2) */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* border-top: 1rem solid #FFF; */
  border-bottom: 0.7rem solid #4B3A41;
}

.credits-header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.credits-header-white {
  position: absolute;
  top: -0.5rem; /* ligeiramente acima do .credits-header */
  left: 50%;
  width: 420px;
  height: 30px;
  background-color: white;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  z-index: 5; /* menor que o .credits-header para ficar atrás */
}