.config-screen-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 2rem; 
}

.first-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

.container-image {
  width: 788px;
  height: 516px;
  object-fit: contain;
  border: 12px solid #007EB8;
  box-shadow: 0 4px 8px rgba(0, 126, 184, 0.5);
  border-radius: 16px;
}

.container-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.container-texts {
  width: 40%;
  height: 516px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 2rem;
}

.container-texts p {
  font-size: 24px;
  font-weight: bold;
  color: #66525B;
  text-align: left;
}

.pieces-options {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.piece-option {
  background-color: #007EB8;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  transition: transform 0.2s;
}

.piece-option:hover {
  transform: scale(1.05);
}

.piece-option.selected {
  background-color: #E98A03;
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(233, 138, 3, 0.7);
}

.start-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.start-button img {
  max-width: 200px;
  height: auto;
}

.container-player {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 16px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.toggle-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #66525B;
  position: relative;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: #007EB8;
}

.toggle-checkbox:checked + .toggle-switch::before {
  transform: translateX(30px);
}