.container {
    background-image: url('../../../assets/images/menu/background-menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
} 