.results-container {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
}

.results-content {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1600px;
  height: 100%;
}

.results-credits-card {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.results-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.theme-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.theme-label {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.theme-button {
  background: none;
  border: none;
  transition: transform 0.2s ease;
  width: 200px;
  height: auto;
  opacity: 0.8;
  cursor: not-allowed;
}

.theme-button img {
  width: 100%;
  height: auto;
}

.results-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.results-row h3 {
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
}

.pagination-info {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;
}

.results-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.results-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.results-column h3 {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 14px;
  text-align: center;
}

.results-column p {
  color: white;
  font-size: 18px;
  margin: 8px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Coluna de data com largura menor */
.results-column:last-child {
  flex: 0.8;
  min-width: 80px;
}

.results-white {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  background-color: white;
  border-radius: 3rem;
  max-width: 1100px;
  margin: 0 auto;
}