.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #03B2D9;
    background-image: url('../../../assets/images/background.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 6px;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #007EB8 #03B2D9;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
}

.wrapper::-webkit-scrollbar-track {
    background: #03B2D9;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #007EB8;
    border-radius: 4px;
}

.game-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}