.modal-content-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: space-between;
  max-height: 80vh;

  margin-top: 16px;
}

.images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  overflow-y: auto;
  max-height: calc(80vh - 120px);
  padding-right: 1rem;
}

.images-grid::-webkit-scrollbar {
  width: 8px;
}

.images-grid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.images-grid::-webkit-scrollbar-thumb {
  background: #E98A03;
  border-radius: 4px;
}

.images-grid::-webkit-scrollbar-thumb:hover {
  background: #d17a02;
}

.modal-image {
  width: 288px;
  height: 160px;
  object-fit: cover;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal-image.selected {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #F3B516;
  z-index: 1;
}

.modal-content-container p {
  color: #666;
  text-align: center;
} 

.modal-conteiner-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}