/* 2 cards inteiros + parte do 3º + botões 160px */
.model-container {
    width: 100%;
    max-width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1601px) {
  .model-container {
    max-width: 1920px;
  }
}

body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  #app {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100vh;
  }
  
  canvas {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background: white;
    touch-action: none;
  }
  
  #controls {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
